body{
	margin: 0 auto;
	background-color: #E1E1E1;
	font-family: 'Segoe UI',SegoeUI,'Microsoft JhengHei',微軟正黑體,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.nav{
	height: 76px;
	background-color: #4A90E2;
	color: #00408B;
	padding-top: 24px;
}

h2{
	font-size: 24px;
}

