* {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 1;
	/* outline: 1px solid #3d3d3d; */
  }

body{
	font-family: Roboto;
	color: white;
	overflow: hidden;
}

.opening{
	width: 100vw;
	height: 100vh;
	background: #1469ff;
}

.star {
	z-index: 10;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-60%);
	
	width: 0;
	height: 0;
	border-left: 182px solid transparent;
	border-right: 182px solid transparent;
	border-bottom: 316px solid #FF3C82;
	position: relative;
	

}
.star:after {
    width: 0;
    height: 0;
    border-left: 182px solid transparent;
    border-right: 182px solid transparent;
    border-top: 316px solid #FF3C82;
    position: absolute;
    content:"";
    top: 70px;
    left: -182px;
}

.circle{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 500px;
	height: 500px;
	z-index: 9;
	border-radius: 50%;
	background-color: #0027C8;
}

.square{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 400px;
	height: 400px;
	z-index: 8;
	background-color: black;
}

.title{
	position: relative;
	z-index: 20;
}
h1{
	text-align: center;
	font-weight: 700;
	font-size: 64px;
}

h2{
	text-align: center;
	font-size: 24px;
	margin-top: 20px;
}